:root {
  --julius-font-family: "Julius Sans One", sans-serif;
  --jua-font-family: "Jua", sans-serif;
  --junge-font-family: "Junge", cursive;

  --title-font-size: 2.5rem;
  --hero-font-size: 3.5rem;
  --email-font-size: 1.5rem 24px;
  --body-font-size: 1rem 16px;

  --small-title-font-size: 2rem;
  --small-hero-font-size: 2rem;
  --small-email-font-size: 0.8rem;
  --small-body-font-size: 0.875rem;

  --font-weight: 400;
  --font-style: normal;

  --primary-color: #03161d;
  --secondary-color: #000000;
  --body-color: #ffffff;
  --accordion-header-color: rgba(30, 30, 30, 0.05);
  --accordion-body-color: rgba(0, 0, 0, 0.25);
  --footer-bg-color: #03161d;

  --accordion-header-hover-color: rgba(30, 30, 30, 0.1);
  --accordion-body-hover-color: rgba(0, 0, 0, 0.5);
  --email-hover-color: rgba(0, 0, 0, 0.5);
  --footer-hover-color: rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--body-color);
}

/* HEADER */
.header-container {
  display: flex;
  justify-content: flex-end;
  margin: 2rem;
  color: var(--primary-color);
}

header {
  display: flex;
  flex-direction: column;
}

header div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slack-display-name {
  font-family: var(--julius-font-family);
  font-size: var(--title-font-size);
  font-weight: var(--font-weight);
}

.slack-profile-picture {
  max-width: 80px;
  height: auto;
  border-radius: 50%;
  margin-left: 1rem;
}

.slack-email {
  font-family: var(--jua-font-family);
  font-size: var(--email-font-size);
  font-weight: var(--font-weight);
  margin-top: -1rem;
}

.slack-email:hover {
  color: var(--email-hover-color);
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion {
  margin: auto;
  padding: 0 4rem;
  color: var(--primary-color);
}
.accordion,
.right-hero-container {
  flex-basis: 50%;
  box-sizing: border-box;
}

.accordion-item-header {
  background-color: var(--accordion-header-color);
  padding: 1.4rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  margin-bottom: 2rem;
}

.accordion-item-header:hover {
  background-color: var(--accordion-header-hover-color);
  transition: background-color 0.3s ease;
}

.accordion-item-header span {
  font-size: 1.5rem;
}

.accordion .accordion-item-body {
  padding: 1.4rem;
  height: auto;
  margin-top: -1rem;
  margin-bottom: 40px;
  font-family: var(--junge-font-family);
  background-color: var(--accordion-body-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: none;
  transition: height 2s ease;
}

.accordion .accordion-item:first-child .accordion-item-body {
  display: block;
}

.right-hero-container .right-hero-container-bg {
  display: flex;
  align-items: center;
}

.right-hero-container img {
  width: 100%;
  height: auto;
}

.hero-img2 {
  display: none;
}

.right-hero-container .hero-image {
  position: relative;
}

.right-hero-container .hero-image-text {
  position: absolute;
  padding-left: 8rem;
  padding-right: 8rem;
  font-size: var(--hero-font-size);
  font-family: var(--jua-font-family);
  color: var(--body-color);
  -webkit-text-stroke: 1px var(--secondary-color);
}

/* FOOTER */
.footer-container {
  height: auto;
  margin-top: auto;
  background-color: var(--footer-bg-color);
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

.time {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: var(--junge-font-family);
}

.links a {
  text-decoration: none;
  width: 20px;
  height: auto;
  padding: 0 1rem;
}

.links a img {
  width: auto;
  height: 30px;
}

@media screen and (max-width: 768px) {
  .slack-display-name {
    font-size: var(--small-title-font-size);
  }

  .slack-email {
    font-size: var(--small-email-font-size);
  }

  .hero {
    flex-direction: column;
  }

  .right-hero-container {
    order: 0;
  }

  .accordion {
    order: 1;
    padding: 0 2rem;
  }

  .right-hero-container .hero-image-text {
    font-size: var(--small-hero-font-size);
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .hero-img1 {
    display: none;
  }

  .hero-img2 {
    display: block;
  }

  .hero-icon {
    display: none;
  }

  .accordion-item-header {
    padding: 0.7rem;
  }

  .accordion .accordion-item-body {
    font-size: var(--small-body-font-size);
  }

  .time {
    font-size: var(--small-body-font-size);
  }

  footer {
    margin: 0.8rem;
  }

  .links a img {
    height: 25px;
  }
}
